<!-- Header -->
<header>
    <span id="h-left_section">
        <ul class="h-el" id="h-social">
            <li><a href="https://www.facebook.com/"><img src="/images/h-fb_icon.png"></a></li>
            <li><a href="https://www.instagram.com/"><img src="/images/h-insta_icon.png"></a></li>
            <li><a href="https://twitter.com/"><img src="/images/h-twitter_icon.png"></a></li>
            <li><a href="https://www.linkedin.com/"><img src="/images/h-linkedin_icon.png"></a></li>
        </ul>

        <span class="h-contact_info h-el" id="h-mail">
            <img src="/images/h-msg_icon.png">
            <span id="h-mail_text">support@gmail.com</span>
        </span>

        <span class="h-contact_info h-el" id="h-tel">
            <a href="tel:2271012345">
                <img src="/images/h-customer-service_icon.png">
                <span id="h-tel_text">22710 12345</span>
            </a>
        </span>
    </span>

    <span id="h-right_section">
        <span class="h-el" id="h-enter">
            <img src="/images/h-user_icon.png" alt="">
            <span id="h-enter_text">
                {{#if login}}
                <a href="/account">
                    <span id="h-enter_sign_in">{{#if lang}}Ο Λογαριασμός μου{{else}}My account{{/if}}</span>
                </a>
                {{else}}
                <a href="/sign_in">
                    <span id="h-enter_sign_in">{{#if lang}}Σύνδεση{{else}}Sign in{{/if}}</span>
                </a>
                /
                <a href="/sign_up">
                    <span id="h-enter_sign_up">{{#if lang}}Εγγραφή{{else}}Sign up{{/if}}</span>
                </a>
                {{/if}}
            </span>
        </span>

        <span class="h-el" id="h-lang">
            <a href="">
                <img src="/images/h-lang_icon.png" alt="">
                <span id="h-lang_text">EN</span>
            </a>
        </span>
    </span>
</header>