{{#if lang}}
<!-- Navbar -->
<nav>
    <span class="n-el" id="n-logo">
        <img src="/images/logo.jpg" alt="">
    </span>
    <span class="n-el" id="n-bar">
        <ul>
            <li> <a href="">Home</a> </li>
            <li hidden> <a href="">Park now</a> </li>
            <li> <a href="">City</a> </li>
            <li> <a href="">Airport</a> </li>
            <li> <a href="">Port</a> </li>
            <li> <a href="">About us</a> </li>
        </ul>
    </span>
</nav>

{{else}}
<!-- Navbar -->
<nav>
    <span class="n-el" id="n-logo">
        <img src="/images/logo.jpg" alt="">
    </span>
    <span class="n-el" id="n-bar">
        <ul>
            <li> <a href="">Αρχική</a> </li>
            <li hidden> <a href="">Πάρκαρε Τώρα</a> </li>
            <li> <a href="">Πόλη</a> </li>
            <li> <a href="">Αεροδρόμιο</a> </li>
            <li> <a href="">Λιμάνι</a> </li>
            <li> <a href="">Πληροφορίες</a> </li>
        </ul>
    </span>
</nav>

{{/if}}