{{#if lang}}
<!-- Navbar -->
<nav>
    <span class="n-el" id="n-logo">
        <img src="/images/logo.jpg" alt="">
    </span>
    <span class="n-el" id="n-bar">
        <ul>
            <li> <a href="/home">Home</a> </li>
            <li hidden> <a href="">Park now</a> </li>
            <li> <a href="/city">City</a> </li>
            <li> <a href="/airport">Airport</a> </li>
            <li> <a href="/port">Port</a> </li>
            <li> <a href="/info">About us</a> </li>
        </ul>
    </span>
</nav>

{{else}}
<!-- Navbar -->
<nav>
    <span class="n-el" id="n-logo">
        <img src="/images/logo.jpg" alt="">
    </span>
    <span class="n-el" id="n-bar">
        <ul>
            <li> <a href="/home">Αρχική</a> </li>
            <li hidden> <a href="">Πάρκαρε Τώρα</a> </li>
            <li> <a href="/city">Πόλη</a> </li>
            <li> <a href="/airport">Αεροδρόμιο</a> </li>
            <li> <a href="/port">Λιμάνι</a> </li>
            <li> <a href="/info">Πληροφορίες</a> </li>
        </ul>
    </span>
</nav>

{{/if}}