<div class=" w-75">
    <i class="fa fa-university me-5" id="img_info_float" style="font-size: 6em;"></i>
    <p class=""><em>{{#if lang}}Η εργασία αυτή αναπτύχθηκε στα πλαίσια διπλωματικής εργασίας. Χρησιμοποιεί τεχνολογίες
            προγραμματισμού διαδικτύου και βάσεων δεδομένων (HTML5, CSS, Bootstrap, Javascript, NodeJS, MySQL).
            Επιπλέον, έχει υλοποιηθεί αισθητήρας που τοποθετείται στην είσοδο του χώρου στάθμευσης για την αναγνώριση
            εισερχόμενου ή εξερχόμενου οχήματος.
            {{else}}This work was developed within the framework of a diploma thesis. It uses web
            and database programming technologies (HTML5, CSS, Bootstrap, Javascript, NodeJS, MySQL). In addition, a
            sensor has been implemented that is placed at the entrance of the parking lot to identify an incoming or
            outgoing vehicle.{{/if}}</em></p>
</div>