{{#if lang}}


{{else}}
<form action="" method="post">
    <fieldset>
        <legend>Έναρξη χρέωσης (Άφιξη):</legend>
        </br>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Στοιχεία Πελάτη:</legend>
        <label for="m-f-email">Email:</label>
        <input type="email" id="m-f-email" name="email" placeholder="someone@example.com" autofocus
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

        <label for="m-f-name">Ονοματεπώνυμο:</label>
        <input type="text" id="m-f-name" name="name" placeholder="Firstname Lastname" required>

        <label for="m-f-phone">Τηλέφωνο:</label>
        <input type="tel" id="m-f-phone" name="phone" placeholder="69********" pattern="[0-9]{10}" required>

        <label for="">Όχημα</label>
        <select name="car" id="">
            <option value=""></option>
            <option value=""></option>
        </select>
    </fieldset>

    <input type="submit" value="Reserve">

</form>

{{/if}}
<p>Hello</p>

{{!--
<script>
    //console.log("op");
    //let ps_id = sessionStorage.getItem("parking_station_target");
    //console.log(ps_id);
</script> --}}