{{#if lang}}
<p>sign_in</p>

{{else}}
<form action="" method="post">
    <fieldset>
        <legend>Sign in</legend>
        <label for="m-f-email">Email:</label>
        <input type="email" id="m-f-email" name="email" placeholder="someone@example.com" autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

        <label for="m-f-pswd">Κωδικός πρόσβασης:</label>
        <input type="password" id="m-f-pswd" name="password" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

        <input type="submit" value="Sign in">

    </fieldset>

</form>
<p>Not an account?</p>
<a href="/sign_up">Create one here</a>

{{/if}}