{{#if lang}}


{{else}}
<form action="" method="post" id="_form3">
    <fieldset>
        <legend>Create an account</legend>
        <label for="m-f-email">Email:</label>
        <input type="email" id="m-f-email" name="email" placeholder="someone@example.com" autofocus
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

        <label for="m-f-pswd">Κωδικός πρόσβασης:</label>
        <input type="password" id="m-f-pswd" name="password" placeholder=""
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

        <label for="pass2" class="label">Repeat Password</label>
        <input id="pass2" type="password" name="password2" class="input" data-type="password"
            placeholder="Repeat your password" required>

        <label for="m-f-tin">ΑΦΜ:</label>
        <input type="number" id="m-f-tin" name="tin" placeholder="" pattern="[0-9]+" required>

        <label for="m-f-cname">Επωνυμία Εταιρίας:</label>
        <input type="text" id="m-f-cname" name="company_name" placeholder="" required>

        <label for="m-f-tax_of">Δ.Ο.Υ.:</label>
        <input type="text" id="m-f-tax_of" name="tax_office" placeholder="" required>

        <label for="m-f-addr">Έδρα:</label>
        <input type="text" id="m-f-addr" name="address" placeholder="" required>

        <label for="m-f-phone">Τηλέφωνο:</label>
        <input type="tel" id="m-f-phone" name="phone" placeholder="69********" pattern="[0-9]{10}" required>
    </fieldset>
    <fieldset>
        <legend>Parking</legend>
        <label for="m-f-lots">Διαθέσιμες θέσεις parking:</label>
        <input type="number" id="m-f-lots" name="lots" placeholder="" min="0" pattern="[0-9]+" required>
        <div class="m-1">
            <label for="m-f-loc">Τοποθεσία:</label>
            <input type="text" id="m-f-loc" name="location" placeholder="" value="23.72756045767275/37.98437516117204" required hidden readonly>
            <div id="map" style="height: 200px; width: 200px;"></div>
        </div>

        <label for="m-f-name">Ονομα:</label>
        <input type="text" id="m-f-name" name="name" placeholder="" required>

        <label for="m-f-type">Είδος Parking:</label>
        <select name="parking_type" id="m-f-type">
            <option value=0>Πόλης</option>
            <option value=1>Αεροδρόμιο</option>
            <option value=2>Λιμάνι</option>
        </select>

        <label for="m-f-photo">Φωτογραφία:</label>
        <input type="text" id="m-f-photo" name="photo" placeholder="" required>

        <fieldset>
            <legend>Ωράριο Λειτουργίας:</legend>
            <label for="24/7_">Ανοιχτά όλο το 24ωρο καθημερινά</label>
            <input type="checkbox" id="24/7_" name="work_hours_0" value="1">
            <br>
            <span id="work_hours_">
                <label for="m-f-work_hours1">Δευτέρα:</label>
                <input type="time" id="m-f-work_hours1" name="work_hours1" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours1b" name="work_hours1b" placeholder="" required>
                <label for="m-f-work_hours2">Τρίτη:</label>
                <input type="time" id="m-f-work_hours2" name="work_hours2" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours2b" name="work_hours2b" placeholder="" required>
                <label for="m-f-work_hours3">Τετάρτη:</label>
                <input type="time" id="m-f-work_hours3" name="work_hours3" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours3b" name="work_hours3b" placeholder="" required>
                <label for="m-f-work_hours4">Πέμπτη:</label>
                <input type="time" id="m-f-work_hours4" name="work_hours4" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours4b" name="work_hours4b" placeholder="" required>
                <label for="m-f-work_hours5">Παρασκευή:</label>
                <input type="time" id="m-f-work_hours5" name="work_hours5" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours5b" name="work_hours5b" placeholder="" required>
                <label for="m-f-work_hours6">Σάββατο:</label>
                <input type="time" id="m-f-work_hours6" name="work_hours6" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours6b" name="work_hours6b" placeholder="" required>
                <label for="m-f-work_hours7">Κυριακή:</label>
                <input type="time" id="m-f-work_hours7" name="work_hours7" placeholder="" required>&nbsp;-
                <input type="time" id="m-f-work_hours7b" name="work_hours7b" placeholder="" required>
            </span>
        </fieldset>
        <fieldset>
            <legend>Τιμοκατάλογος:</legend>
        </fieldset>
        <label for="m-f-price_list1">1 ώρα:</label>
        <input type="text" id="m-f-price_list1" name="price_list1" placeholder="" required>
        <label for="m-f-price_list2">2 ώρες:</label>
        <input type="text" id="m-f-price_list2" name="price_list2" placeholder="" required>
        <label for="m-f-price_list3">3 ώρες:</label>
        <input type="text" id="m-f-price_list3" name="price_list3" placeholder="" required>
        <label for="m-f-price_list4">Επιπλέον χρέωση ανά ώρα μετά τις 3 ώρες:</label>
        <input type="text" id="m-f-price_list4" name="price_list4" placeholder="" required>
        <br>

        <label for="m-f-price_list5">1 μέρα:</label>
        <input type="text" id="m-f-price_list5" name="price_list5" placeholder="" required>
        <label for="m-f-price_list6">2 μέρες:</label>
        <input type="text" id="m-f-price_list6" name="price_list6" placeholder="" required>
        <label for="m-f-price_list7">3 μέρες:</label>
        <input type="text" id="m-f-price_list7" name="price_list7" placeholder="" required>
        <label for="m-f-price_list8">Επιπλέον χρέωση ανά μέρα μετά τις 3 μέρες:</label>
        <input type="text" id="m-f-price_list8" name="price_list8" placeholder="" required>
        <br>

        <label for="m-f-price_list9">1 μήνας:</label>
        <input type="text" id="m-f-price_list9" name="price_list9" placeholder="" required>
        <label for="m-f-price_list10">2 μήνες:</label>
        <input type="text" id="m-f-price_list10" name="price_list10" placeholder="" required>
        <label for="m-f-price_list11">3 μήνες:</label>
        <input type="text" id="m-f-price_list11" name="price_list11" placeholder="" required>
        <label for="m-f-price_list12">Επιπλέον χρέωση ανά μήνα μετά τους 3 μήνες:</label>
        <input type="text" id="m-f-price_list12" name="price_list12" placeholder="" required>

        <label for="m-f-info">Επιπλέον πληροφορίες:</label>
        <input type="text" id="m-f-info" name="info" placeholder="" required>
    </fieldset>

    <fieldset>
        <legend>Υπηρεσίες</legend>

        <label for="m-f-height">Μέγιστο επιτρεπόμενο ύψος (m):</label>
        <input type="text" id="m-f-height" name="s_height" placeholder="" required>

        <label for="m-f-length">Μέγιστο επιτρεπόμενο μήκος (m):</label>
        <input type="text" id="m-f-length" name="s_length" placeholder="" required>

        <label for="m-f-1">Στεγασμένος χώρος</label>
        <input type="hidden" id="m-f-1h" name="s_covered" value="0">
        <input type="checkbox" id="m-f-1" name="s_covered" value="1">

        <label for="m-f-2">Τα κλειδιά παραμένουν στο parking</label>
        <input type="hidden" id="m-f-2h" name="s_keys" value="0">
        <input type="checkbox" id="m-f-2" name="s_keys" value="1">

        <label for="m-f-3">Πληρωμή με κάρτα στο χώρο του parking</label>
        <input type="hidden" id="m-f-3h" name="s_card" value="0">
        <input type="checkbox" id="m-f-3" name="s_card" value="1">

        <label for="m-f-4">Φορτιστής ηλεκτρικών οχημάτων</label>
        <input type="hidden" id="m-f-4h" name="s_charger" value="0">
        <input type="checkbox" id="m-f-4" name="s_charger" value="1">

        <label for="m-f-5">Αγγλικά</label>
        <input type="hidden" id="m-f-5h" name="s_english" value="0">
        <input type="checkbox" id="m-f-5" name="s_english" value="1">

        <label for="m-f-6">24ωρη παρακολούθηση από κάμερες</label>
        <input type="hidden" id="m-f-6h" name="s_camera" value="0">
        <input type="checkbox" id="m-f-6" name="s_camera" value="1">

        <label for="m-f-7">Πλυντήριο</label>
        <input type="hidden" id="m-f-7h" id="ggggg" name="s_wash" value="0">
        <input type="checkbox" id="m-f-7" name="s_wash" value="1">

    </fieldset>
    <input type="submit" value="Sign up">

</form>
<p>Already have an account?</p>
<a href="/parking_station/sign_in">Sign in here</a>

{{/if}}


<script>
    document.getElementById("24/7_").addEventListener("change", function () {
        if (this.checked) {
            for (let i = 1; i <= 7; i++) {
                document.getElementById("m-f-work_hours" + i).required = false;
                document.getElementById("m-f-work_hours" + i + "b").required = false;
            }
            document.getElementById("work_hours_").hidden = true;
        }
        else {
            for (let i = 1; i <= 7; i++) {
                document.getElementById("m-f-work_hours" + i).required = true;
                document.getElementById("m-f-work_hours" + i + "b").required = true;
            }
            document.getElementById("work_hours_").hidden = false;
        }
    });

    document.getElementById("_form3").addEventListener('submit', () => {
        for (let i = 1; i <= 7; i++) {
            if (document.getElementById("m-f-" + i).checked) document.getElementById("m-f-" + i + "h").disabled = true;
        }
    });
    // map for location
    mapboxgl.accessToken = 'pk.eyJ1IjoibWlob3NtaWtlIiwiYSI6ImNsNG8xcTJndjAwdDEza2xoMjRjZnhlcnoifQ.14_-vR9YsWexqJngngO1HA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [23.72756045767275, 37.98437516117204],
        zoom: 14
    });
    let marker = "";
    map.on('style.load', function () {
        marker = new mapboxgl.Marker({ draggable: true }).setLngLat([23.72756045767275, 37.98437516117204]).addTo(map);
        marker.on('dragend', function () {
            const lngLat = marker.getLngLat();
            document.getElementById("m-f-loc").value = lngLat.lng + "/" + lngLat.lat;
        });
        map.on('click', function (e) {
            const lngLat = e.lngLat;
            document.getElementById("m-f-loc").value = lngLat.lng + "/" + lngLat.lat;
            marker.setLngLat(lngLat);
        });
    });    
</script>