html {
  font-size: 10px;
  background-color: #68a7f4;
}

body {
  background-color: white;
  color: black;
  font: 1.8em / 1.8 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  height: 23px;
}

._modal-text {
  font-size: 17px;
}

/* ------------------------- Header ------------------------- */
header {
  background-color: #EFF5FF;
}

._header_dropdown {
  font-size: 15px;
  z-index: 1021;
}

/* ------------------------- Navbar ------------------------- */
nav {
  font-size: large;
  background-color: #3F4963;
}

#_n-logo-image {
  height: 50px;
}

/* ------------------------- Footer ------------------------- */
footer {
  background-color: #9298b5;
  font-size: medium;
  width: 100%;
}

#lll {
  width: 100%;
}

/* ------------------------- Main ------------------------- */
main {
  background-color: #68a7f4;
  min-height: 400px;
  padding: 20px;
  /* background-color: #9e3c8d; */
}

#map {
  height: 500px;
  /* The height is 400 pixels */
  /* width: 60%; */
  /* The width is the width of the web page */
}

@media (max-width: 576px) {
  #map {
    height: 350px;
  }
}

._map_popup {
  font-size: 1.4em;
}

.m-h-ps_marker {
  font-size: 1.2em;
}

/* .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 800px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 800px;
} */

#menu {
  width: 50%;
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
}

#error_popup {
  font-size: 1.3em;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9992c;
  /* border: 1px solid #ffffff; */
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
  word-wrap: normal;
}

#confirm_popup {
  font-size: 1.3em;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #049304;
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
  word-wrap: normal;
}

/* ------------------------- Login & Sign up ------------------------- */
.login-box {
  width: 100%;
  /* margin:auto; */
  max-width: 400px;
  min-height: 600px;
  /* position:relative; */
  /* box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19); */
}

.login-box2 {
  max-width: 400px;
  min-height: 950px;
  /* height: auto; */
  box-shadow: none;
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px 50px 20px 50px;
  background: rgba(0, 157, 254, 0.9);
  /* background: rgba(51, 55, 57, 0.9); */
}

.login-snip2 {
  padding: 15px 20px 20px 20px;
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}

.login-snip .tab {
  font-size: 20px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
  color: #fff;
  border-color: #1161ee;
}

#m-f-type, #_f_parking_type {
  color: #000;
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.row .border-right {
  border-right: 1px solid #94cbe1;
}

.login-space .group .bbtn {
  width: 40%;
}

.login-space .group .label2,
.login-space .group .input2 {
  width: 47%;
  display: inline;
}

.login-space .group .input3 {
  width: 15%;
  display: inline;
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 5px 14px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.login-space .group input[data-type="password"] {
  /* text-security:circle; */
  -webkit-text-security: circle;
}

.login-space .group .label {
  /* color:#aaa; */
  font-size: 13px;
  color: inherit;
}

.login-space .group .button {
  background: #1161ee;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked+label {
  color: #fff;
}

.login-space .group .check:checked+label .icon {
  background: #1161ee;
}

.login-space .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
  transform: rotate(0);
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
  transform: rotate(0);
}

a {
  color: inherit;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2);
}

.foot {
  text-align: center;
  font-size: 15px;
}

.card {
  width: 400px;
  /* left: 100px; */
}

.card2 {
  width: 1250px;
  /* left: 100px; */
}

.card3 {
  width: 1500px;
  /* left: 100px; */
}

::placeholder {
  /* color: #b3b3b3; */
  color: inherit;
  font-size: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  color: #333;
  font-size: 14px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f39c21;
  /* background-color: #15d818; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#ps_sup {
  background: rgba(0, 157, 254, 0.9);
  padding: 15px 15px;
}

#ps_sup input {
  background: rgba(255, 255, 255, .1);
  border-radius: 25px;
  border: none;
  padding: 5px 14px;
  color: #fff;
}

/* ------------------------- Account ------------------------- */
#_account {
  min-height: 250px;
  width: fit-content;
  /* margin: auto; */
}

/* ------------------------- History ------------------------- */
._history-table {
  min-height: 500px;
}

._history-note {
  font-size: 12px;
}

._history-note2 {
  font-size: 14px;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

/* ------------------------- Book ------------------------- */
._book-card {
  /* width: 700px; */
  font-size: medium;
}

._car-info {
  font-size: 10px;
}

#info_discount {
  padding: 3px 10px;
  border-radius: 15px;
}

#info_discount {
  width: fit-content;
  padding: 0px 10px;
  margin: 5px 0px;
}

#prc_ {
  font-size: 1.1em;
  border-radius: 5px;
  width: fit-content;
  background-color: #36f59c;
  padding: 0px 15px;
}

#book_card_ {
  background-color: #3F8CEB;
}

.book_input {
  border-radius: 15px;
  background-color: #EBAE3F;
  width: 250px;
  padding: 3px 10px;
  border: none;
}

/* ------------------------- Info ------------------------- */

#img_info_float {
  float: left;
}

._info_img {
  height: 100px;
  margin: 10px;
}

#tech_logo_container {
  /* width: max-content;  */
  margin: auto;
}

/* ---------------------- my_parking ---------------------- */

.lbls {
  background-color: #F5B136;
  border-radius: 5px;
  text-align: center;
}

/* .lbls h2 {
  text-align: center;
} */

.dates_ {
  border-radius: 15px;
  background: rgba(255, 255, 255, .1);
  border: none;
  padding: 2px 6px;
}

/* --------------------- home (driver) --------------------- */
.dates_2 {
  border-radius: 15px;
  background: #406694;
  border: none;
  padding: 2px 6px;
}

/* ------------------- account (driver) ------------------- */
.inpt {
  border: none;
  padding: 3px 15px;
  border-radius: 25px;
  background: #406694;
  color: #ffffff;
  margin-bottom: 10px ;
}